 <div class="container">
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>
  <!-- <button (click)="createRecipe()">Create Recipe</button> -->
  <div *ngFor="let currentRecipe of recipes">
    <h3 (click)="toggleShowIngredients(currentRecipe)">{{currentRecipe.name}}</h3>
    <ol *ngIf="currentRecipe.showIngreds">
      <li *ngFor="let currentIngredients of currentRecipe.ingredients">{{currentIngredients}}</li>
    </ol>
    <button (click)="editRecipe(currentRecipe)">Edit Recipe</button>
  </div>
  <div *ngIf="selectedRecipe">
    <h3>{{selectedRecipe.name}}</h3>
    <label>Edit Recipe Name:</label>
    <input [(ngModel)]="selectedRecipe.name">
    <h5>{{selectedRecipe.ingredients}}</h5>
    <div *ngFor="let ingredient of selectedRecipe.ingredients; let in = index" >
      <label>Edit Recipe ingredients:</label>
      <input name="ingredient-{{in}}" type="text" [(ngModel)]="selectedRecipe.ingredients[in]" placeholder="ingredient">
    </div>
    <button (click)="finishEditing()">Done</button>
  </div>

</div>
